<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827118532252-7d82rmm465fng187hh3d5a4a16n3mo8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827118532252-7d82rmm465fng187hh3d5a4a16n3mo8q</string>
	<key>API_KEY</key>
	<string>AIzaSyB36TF_KUkJgmRqtkybWufkCwOuc5AkYTk</string>
	<key>GCM_SENDER_ID</key>
	<string>827118532252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.LoginPage-Ver1</string>
	<key>PROJECT_ID</key>
	<string>loginpage-19bba</string>
	<key>STORAGE_BUCKET</key>
	<string>loginpage-19bba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827118532252:ios:19599fb808a3ceee31df59</string>
</dict>
</plist>